@import "suitcss-base";

@import "suitcss-utils-align";
@import "suitcss-utils-display";
@import "suitcss-utils-layout";
@import "suitcss-utils-link";
@import "suitcss-utils-offset";
@import "suitcss-utils-position";
@import "suitcss-utils-size";

@import "suitcss-components-arrange";
@import "suitcss-components-button";
@import "suitcss-components-flex-embed";
@import "suitcss-components-grid";

@custom-media --sm-viewport (min-width: 320px);
@custom-media --md-viewport (min-width: 640px);
@custom-media --lg-viewport (min-width: 960px);

:root {
  --base-color: inherit;
  --base-font: 16px sans-serif;
  --base-link-color: #069;
  --base-link-color-hover: #069;

  --Arrange-gutter-size: 10px;

  --Button-border-width: 1px;
  --Button-border-color: currentcolor;
  --Button-color: inherit;
  --Button-font: inherit;
  --Button-padding: 0.4em 0.75em;
  --Button-disabled-opacity: 0.6;

  --Grid-font-size: 4rem;
  --Grid-gutter-size: 0px;
}

html {
  font-size: calc(var(--base-font) * 2);
  color: var(--base-color);
}
.Grid {
  padding: 50px;
  padding-left: 125px;
}

.Grid-cell img:hover {
  box-shadow: 10px 5px 5px red;
  -moz-box-shadow: 10px 5px 5px red;
  -webkit-box-shadow:  10px 5px 5px red;
}

.Grid-cell img {
  position: absolute;
  max-width: 90%;
  display:block;
  margin: auto;
  padding-top: 20px;
}

.Grid-cell {
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
  max-width: 75%;
}

.Input {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  margin-top: 2%;
  margin-left: 38%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: #EEF;

}

.Button {
  margin-left: 44%;
  width: 220px;
}

.Button--large {
  padding: 10px;
  background: #EEF;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #666;
  box-shadow: 1px 2px 5px 1.5px rgba(0, 0, 0, 0.22);
}

