@import "suitcss-base";

@import "suitcss-utils-align";
@import "suitcss-utils-display";
@import "suitcss-utils-layout";
@import "suitcss-utils-link";
@import "suitcss-utils-offset";
@import "suitcss-utils-position";
@import "suitcss-utils-size";

@import "suitcss-components-arrange";
@import "suitcss-components-button";
@import "suitcss-components-flex-embed";
@import "suitcss-components-grid";

@custom-media --sm-viewport (min-width: 320px);
@custom-media --md-viewport (min-width: 640px);
@custom-media --lg-viewport (min-width: 960px);

:root {
  --base-color: inherit;
  --base-font: 16px sans-serif;
  --base-link-color: #069;
  --base-link-color-hover: #069;

  --Arrange-gutter-size: 10px;

  --Button-border-width: 1px;
  --Button-border-color: currentcolor;
  --Button-color: inherit;
  --Button-font: inherit;
  --Button-padding: 0.4em 0.75em;
  --Button-disabled-opacity: 0.6;

  --Grid-font-size: 4rem;
  --Grid-gutter-size: 10px;
}

html {
  font-size: calc(var(--base-font) * 2);
  color: var(--base-color);
}

.Grid-cell img:hover {
  background-color: yellow;
}

.Grid-cell img {
  display:block;
  float:left;
  position: relative;
  max-width: 80%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin: 2.66%;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}

.Input {
  margin-left: 40%;
  width: 400px;
}

.Button {
  margin-left: 45%;
  width: 200px;
}

.Button--default {
  background-color: #eee;
  color: #444;
  border-color: #d9d9d9 #d9d9d9 #ccc;
  border-radius: 2px;
}

.Button--default:hover,
.Button--default:focus,
.Button--default:active,
.Button--default.is-pressed {
  background-color: #f5f5f5;
  color: #666;
  border-color: #c6c6c6 #c6c6c6 #bbb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.Button--large {
  font-size: 1.0em;
  padding: 0.75em 1.5em;
}