@import "suitcss-base";

@import "suitcss-utils-align";
@import "suitcss-utils-display";
@import "suitcss-utils-layout";
@import "suitcss-utils-link";
@import "suitcss-utils-offset";
@import "suitcss-utils-position";
@import "suitcss-utils-size";

@import "suitcss-components-arrange";
@import "suitcss-components-button";
@import "suitcss-components-flex-embed";
@import "suitcss-components-grid";

@custom-media --sm-viewport (min-width: 320px);
@custom-media --md-viewport (min-width: 640px);
@custom-media --lg-viewport (min-width: 960px);

:root {
  --base-color: inherit;
  --base-font: 16px sans-serif;
  --base-link-color: #069;
  --base-link-color-hover: #069;

  --Arrange-gutter-size: 10px;

  --Button-border-width: 1px;
  --Button-border-color: currentcolor;
  --Button-color: inherit;
  --Button-font: inherit;
  --Button-padding: 0.4em 0.75em;
  --Button-disabled-opacity: 0.6;

  --Grid-font-size: 4rem;
  --Grid-gutter-size: 0px;
}

html {
  font-size: calc(var(--base-font) * 2);
  color: var(--base-color);
}

.Grid {
  padding: 50px;
}

.Grid-cell img:hover {
  box-shadow: 10px 5px 5px red;
  -moz-box-shadow: 10px 5px 5px red;
  -webkit-box-shadow:  10px 5px 5px red;
}

.Grid-cell img {
  position: absolute;
  max-width: 100%;
  padding-top: 20px;

}

.Grid-cell {
  display: block;
  margin: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
  max-width: 65%;
}

.Input {
  display: block;
  margin: auto;
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  margin-top: 2%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: #EEF;
}


/* Search Button Styles */

.Button {
  display: block;
  position: inherit;
  width: 220px;
  margin: auto
}

.Button--large {
  padding: 10px;
  background: #EEF;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #555;
  box-shadow: 1px 2px 5px 1.5px rgba(0, 0, 0, 0.22);
}

.Button--large:hover,
.Button--large:focus,
.Button--large:active,
.Button--large.is-pressed {
  color: #222;
  border-color: #c6c6c6 #c6c6c6 #30C29E;
}

.Button--large:focus {
  border-color: #c6c6c6;
  outline: 0;
}

.Button--large:active,
.Button--large.is-pressed {
  background-color: #ccc;
  box-shadow: inset 0 1px 2px rgba(0,0,0, 0.2);
}

.Close-Button {
  font-size: 30px;
  opacity: 0.5;
}